.breadCrumb {
  color: var(--white);
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;

  a {
    text-decoration: none;
  }

  img {
    height: 30px;
    width: 30px;
    filter: invert(100%);
  }

  span {
    margin: 0 0.5rem;
  }
}
