<footer>
  <div class="container">
    <p>Coded By Abraão Borges</p>

    <div class="links">
      <a href="#">
        <img src="../../../assets/footer/facebook.svg" alt="facebook">
      </a>
      <a href="#">
        <img src="../../../assets/footer/twitter.svg" alt="twitter">
      </a>
      <a href="#">
        <img src="../../../assets/footer/google-plus.svg" alt="google-plus">
      </a>
      <a href="#">
        <img src="../../../assets/footer/youtube.svg" alt="youtube">
      </a>
      <a href="#">
        <img src="../../../assets/footer/instagram.svg" alt="instagram">
      </a>
    </div>
  </div>
</footer>
